/* Topbar.css */
.logo_section {
    display: flex;
    align-items: center;  /* Aligne verticalement l'image et le texte */
  }
  
  .logo_section .logo_link {
    display: flex;
    align-items: center;  /* Pour s'assurer que l'image et le texte sont sur la même ligne */
  }
  
  .logo_section .logo_text {
    font-size: 30px;  /* Taille de police plus grande */
    margin-left: -10px;  /* Espacement entre l'image et le texte */
    font-weight: bold;  /* Pour rendre le texte un peu plus marqué */
    color:aliceblue;
  }
  

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-dialog {
    width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }
  
  .modal-footer {
    padding: 10px;
    text-align: right;
  }
  
  .modal-footer .btn {
    margin-left: 10px;
  }
  
  .modal-footer .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .modal-footer .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  